body {
    overflow-x:hidden;
    font-family: 'Ubuntu', sans-serif;
} 
#header {
    background:linear-gradient(rgba(0, 0, 34, 0.55), rgba(0, 0, 34, 0.55)),url("images/header.jpg");
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;
    height:657px;
    /* height:1000px; */
}
@media (max-width:425px){
    #header {
        background:linear-gradient(rgba(0, 0, 34, 0.55), rgba(0, 0, 34, 0.55)),url("images/header.jpg");
        background-size:cover;
        background-attachment: fixed;
        background-position: center center;
        height:auto;
    }
}
.nav-link {
    font-family: 'Ubuntu', sans-serif; 
    font-size:17px;
}

.welcome_header {
    font-size:45px;
    font-family: 'Ubuntu', sans-serif;
    padding-top:170px;
    text-align: center;
}
.welcome_header2 {
    font-size:37px;
    font-family: 'Ubuntu', sans-serif;
    /* sailec? */
    text-align: center;
    /* padding-top:500px; */
}

.welcome_para {
    font-size:20px;
    padding:0px 70px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}   
@media (max-width:425px){
    .welcome_para {
        font-size:19px;
        padding:0px 0px;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
    } 
    .welcome_header2 {
        font-size:25px;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
    }    
    .welcome_header {
        font-size:39px;
        font-family: 'Ubuntu', sans-serif;
        padding-top:80px;
        text-align: center;
    }
}        
.ex {
    font-family: 'Ubuntu', sans-serif;
    font-size:20px !important;
}

/* styling for home page */

#home {
    background:linear-gradient(rgba(1, 1, 12, 0.55), rgba(1, 1, 10, 0.55)),url("images/home.jpg");
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;
    height:660px;
}
@media (max-width:425px){
    #home {
        background:linear-gradient(rgba(0, 0, 34, 0.55), rgba(0, 0, 34, 0.55)),url("images/mobile.jpg");
        background-size:cover;
        background-attachment: fixed;
        background-position: center center;
        height:550px;
    }  
}
.home_hero {
    padding-top:180px;
    font-family: 'Ubuntu', sans-serif;
    font-size:40px;
}
.home_para {
 font-family: 'Ubuntu', sans-serif;
 font-size:20px;
}
.start {
    font-family: 'Ubuntu', sans-serif;
}
@media (max-width:425px){
    .home_hero {
        padding-top:100px;
        font-family: 'Ubuntu', sans-serif;
        font-size:30px;
        text-align: center;
    }
    .home_para {
        font-family: 'Ubuntu', sans-serif;
        font-size:17px;
        text-align:center;
    }  
}
.mission {
 font-family: 'Ubuntu', sans-serif;
 font-size:29px;
}
.mission_para {
 font-family: 'Ubuntu', sans-serif;
 font-size:16px;
}
.icon {
    font-size:25px;
    margin-bottom:10px;
    color:gray;
    /* border:1px solid blac */
}
.about_para {
 font-family: 'Ubuntu', sans-serif;
 font-size:25px;
 line-height: 40px !important;
}
.about_header {
 font-family: 'Ubuntu', sans-serif;
 font-size:38px;
}
@media (max-width:425px){
    .about_para {
     font-family: 'Ubuntu', sans-serif;
     font-size:25px;
     line-height: 35px;
     text-align:center;
 }  
}
@media (min-width:768px){
    .about_para {
     font-family: 'Ubuntu', sans-serif;
     font-size:25px;
     line-height: 35px;
     text-align:center;
 }  
 .image1 {
    height:400px !important;
}
}
@media (min-width:1024px){
    .about_para {
     font-family: 'Ubuntu', sans-serif;
     font-size:25px;
     line-height: 57px !important;
     text-align:center;
 }  
 .image1 {
    height:400px !important;
    border-radius:10px;
}
}
.icon1 {
    font-size:30px;
    color:white;
}
.icon:hover {
    color:rgb(160, 99, 10);
}
.services {
    text-align:center;
    font-family: 'Ubuntu', sans-serif;
    font-size:36px;
    padding:15px 0px;
    color:white;
}
.service_header {
 font-family: 'Ubuntu', sans-serif;
 font-size:29px;
 padding:10px 0px;
 color:white;
}
.service_para {
 font-family: 'Ubuntu', sans-serif;
 font-size:14px;
 color:white;
}
#service {
    background:linear-gradient(rgba(0, 0, 34, 0.55), rgba(0, 0, 34, 0.55)),url("images/service1.jpg");
    background-size:cover;
    /* padding:50px 0px 50px 0px ; */
    background-attachment: fixed;
    background-position: center center;
    height:auto;
}
@media(max-width:425px) {
    #service {
        height:auto;
    }
    .team {
        text-align:center !important;
        font-family: 'Ubuntu', sans-serif;
        font-size:32px !important;
        padding-top:15px;
        text-transform: capitalize;
    }
}
.team {
    text-align:center;
    font-family: 'Ubuntu', sans-serif;
    font-size:36px;
    padding-top:15px;
    text-transform: capitalize;
}
.team_para {
 font-family: 'Ubuntu', sans-serif;
 font-size:17px;
 text-align: center;
}
.card1 {
    width:auto;
    height:350px;
}
.item {
    margin-bottom:100px !important;
}
.lead {
    height:180px;
    width:180px !important;
    border-radius: 50%;
    position: relative;
    top:60px;
    z-index: 1;
    margin-left:60px;
} 
.main1 {
    padding-top:100px !important;
    font-family: 'Ubuntu', sans-serif;
}
.social {
    font-size:25px;
}
.foot {
    padding-top:70px;
}


/* styling for contact us page */
#contact_us {
    background:linear-gradient(rgba(0, 0, 34, 0.55), rgba(0, 0, 34, 0.55)),url("images/trycontact.jpg");
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;
    height:657px;
}
.contact_header {
 font-family: 'Ubuntu', sans-serif;

 font-size:35px;
 padding-top:50px;
 color:white;
}
.contact_para {
  font-family: 'Ubuntu', sans-serif;
  font-size:20px;
  color:white;
}
.contact_label {
  font-family: 'Ubuntu', sans-serif;
  font-size:17px !important;
  color:white;
}
.contact-btn {
    background-color: lightgray !important;
    color:white;
}
@media(max-width:425px) {
    #contact_us {
        background:url("images/trycontact.jpg");
        background-size:cover;
        background-attachment: fixed;
        background-position: center center;
    }

}
#sub_links {
   background-color:rgb(36, 35, 35);
   color:white;
   font-family: 'Ubuntu', sans-serif;
}
ul li {
   list-style-type:none;
   font-size:18px;
} 
.first {
   font-size:20px;
}

/*styling for clients page*/
#clients {
    background:linear-gradient(rgba(0, 0, 34, 0.55), rgba(0, 0, 34, 0.55)),url("images/landing.jpeg");
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;
    height:660px;
    /* height:1000px; */
}
@media (max-width:425px){
    #clients {
        background:linear-gradient(rgba(0, 0, 34, 0.55), rgba(0, 0, 34, 0.55)),url("images/landing.jpeg");
        background-size:cover;
        background-attachment: fixed;
        background-position: center center;
        height:500px;
    }
    .clients_para {
     font-family: 'Ubuntu', sans-serif;

     font-size:17px;
     padding:0px 0px !important;
     text-align:center;
 }
 .clients_header {
     font-family: 'Ubuntu', sans-serif;

     font-size:23px !important;
     text-align:center;
     padding:40px 0px 10px 0px !important;
 }
 .clients_hero {
    padding-top:70px !important;
    font-family: 'Ubuntu', sans-serif;

    font-size:30px !important;
}
}
.clients_hero {
    padding-top:180px;
    font-family: 'Ubuntu', sans-serif;

    font-size:40px;
}
.clients_heropara {
 font-family: 'Ubuntu', sans-serif;

 font-size:20px;
}
.clients_header {
 font-family: 'Ubuntu', sans-serif;

 font-size:28px;
 text-align:center;
 padding:100px 0px 20px 0px;
}
.clients_para {
 font-family: 'Ubuntu', sans-serif;

 font-size:18px;
 padding:0px 50px;
 text-align:center;
}
.client_logo {
    width:200px;
    filter: grayscale(5);
    opacity: 1;
    display: block;
    /* width: 100%; */
    /* height: auto; */
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.trial:hover .image {
    opacity: 0.3;
}

.trial:hover .middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
.client_logo:hover {
    transition:ease-in-out 0.5s;
    filter:grayscale(0);
    transform: scale(1.1);
}
.call {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size:22px;
}
.call_link {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size:22px;
    color:#a0630a;
    padding-bottom:50px;
}
.call_link:hover {
    color:black;
    text-decoration:none !important;
}



/* styling for musing page */


.blog-header {
    font-family: 'Ubuntu', sans-serif !important;
    font-size:25px;
}
.blog-para {
    font-family: 'Ubuntu', sans-serif !important;
    font-size:16px;
}
.read {
    bottom:15px !important;
    position: relative;
}



/* styles for blogpost page */
.candy {
    font-family: 'Ubuntu', sans-serif;
    line-height: 35px;
    /* font-size:22px; */
}
.candy-header {
    font-family: 'Ubuntu', sans-serif;
    
}
.drop {
    font-family: 'Ubuntu', sans-serif;
}